.announcement-bar {
  position: absolute;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 700px;
}

.site-header {
  padding: 30px 0;
}

/* footer */
.payment-icons {
  display: none;
}

/* utility class*/
.text-center {
  text-align: center;
}

/* multicolumn section */
.multi-column--flex {
  display: flex;
  flex-direction: column;
  grid-gap: 150px;
}

@media screen and (min-width: 768px) {
  .multi-column--flex {
    flex-direction: row;
  }
}

.multi-column--section-title {
  margin-bottom: 50px;
}

.multi-column--image-container img {
  height: 100px;
  max-width: 100px;
}

.multi-column--rte {
  margin-top: 50px;
}

/* featured products */
.grid-product__wrapper .btn {
  margin-top: 30px;
}

.grid-product__meta {
  padding: 22px 0;
}

/* newsletter */

.newsletter {
  background-color: transparent;
}

#sunnie-natural .newsletter__input {
  background-color: #fef8ec;
}

/* Our Story page */

#our-story,
#our-story footer {
  background-color: #cad9d9;
}

#our-story p {
  color: #575757 !important;
}

#our-story .section-header {
  font-size: 24px;
}

#our-story .newsletter {
  display: none;
}

.template-product footer {
  background-color: #f6efe3 !important;
}

@media screen and (min-width: 768px) {
  .product-single__media-group {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
  }
  .template-product .grid__item {
    padding-left: 130px;
  }
  .product-single__meta--wrapper {
    padding-left: 145px;
  }
  #slick-slide01 {
    margin-top: 60px;
  }
}
