html {
  margin: 0;
  padding: 0;
  border: 0;
}

body,
body#our-story,
body#dry-eye,
body#redness,
body#digital-eye-strain {
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
}

.page-container {
  height: 100% !important;
}

.announcement-bar {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .announcement-bar {
    width: 700px;
  }
}

.site-header {
  padding: 30px 0;
}

.icon-customer {
  color: #106b61;
}

.icon-cart {
  font-size: 22px !important;
}

.cart-link__bubble--visible {
  background-color: #cad9d9;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon-customer,
.icon-cart {
  height: 25px;
  width: 25px;
}

button#Subscribe {
  background: #cad9d9;
}

/* footer */
.site-footer {
  padding-bottom: 0;
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.template-product .site-footer,
#contact-us .site-footer,
#account .site-footer,
#your-shopping-cart .site-footer,
#our-medical-ambassadors .site-footer,
#our-story .site-footer,
#faq .site-footer {
  bottom: 0;
  background: none !important;
  font-size: 16px;
  padding-bottom: 30px;
}

.payment-icons {
  display: none;
}

.site-footer a:hover {
  color: #106b61;
  text-decoration: underline;
}

/* utility class*/
.text-center {
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #009ede;
  border-radius: 50%;
  display: inline-block;
}

#our-story {
  height: 100vh;
}

#our-story p {
  text-transform: uppercase;
  font-size: 22px !important;
}

#our-story h1,
#our-medical-ambassadors h1 {
  font-size: 30px;
}

#our-story p.off-white {
  color: #e8e8df !important;
}

/* multicolumn section */
.multi-column--flex {
  display: flex;
  flex-direction: column;
  grid-gap: 150px;
}

@media screen and (min-width: 768px) {
  .multi-column--flex {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .grid__item-image-block {
    max-width: 210px;
  }
}

.multicolumn-section h2 {
  color: #cbb9d5;
}

.multi-column--section-title {
  margin-bottom: 60px;
}

.multi-column--section-title h3 {
  font-family: 'Gotham Rounded' !important;
  color: #575757 !important;
}

@media screen and (min-width: 768px) {
  .multi-column--section-title {
    margin-bottom: 80px;
  }
}

.multi-column--image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.multi-column--image-container img {
  height: 100px;
  max-width: 150px;
  object-fit: contain;
}

#sec-1 img {
  position: absolute;
  top: 0px;
}

#sec-2 img {
  position: absolute;
  top: 16px;
}

#sec-3 img {
  position: absolute;
  top: -16px;
}

.multi-column--rte {
  margin-top: 170px;
  text-transform: uppercase;
  color: #575757;
}

/* featured products */

.grid-product__image-link {
  padding: 50px 0;
}

#pro_1 .btn {
  background-color: #cad9d9;
}

#pro_2 .btn {
  background-color: #f4c6b8;
}

#pro_2 .grid-product__title {
  color: #f4c6b8 !important;
}

#pro_3 span.grid-product__title,
.firstlink.commonwidth a {
  color: #e7dbc7 !important;
}

#pro_3 .btn {
  background-color: #e7dbc7;
}

/* newsletter */

.newsletter {
  background-color: transparent;
}

#sunnie-natural .newsletter__input {
  background-color: #fef8ec;
}

/* Our Story page */

#our-story,
#our-story footer {
  background-color: #cad9d9;
}

#our-story p {
  color: #575757 !important;
}

#our-story .section-header {
  font-size: 24px;
}

#our-story .newsletter {
  display: none;
}

.template-product footer {
  background-color: #f6efe3 !important;
}

@media screen and (min-width: 768px) {
  .product-single__media-group {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
  }
  template-product .grid__item {
    padding-left: 130px;
  }
  .product-single__meta--wrapper {
    padding-left: 145px;
  }
  #slick-slide01 {
    margin-top: 60px;
  }
}

.outerlinks {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .outerlinks {
    display: flex;
    justify-content: space-between;
    float: unset;
    text-align: unset;
    margin-bottom: 40px;
  }

  .firstlink {
    text-align: left;
  }

  .secondlink {
    text-align: center;
  }

  .thirdlink {
    text-align: right;
  }
}

.thirdlink a,
#digital-eye-strain .product-single__title {
  color: #cad9d9 !important;
}

#digital-eye-strain .btn--add-to-cart {
  background: #cad9d9;
}

.secondlink a,
#redness .product-single__title {
  color: #f4c6b8 !important;
}
#redness .btn--add-to-cart {
  background: #f4c6b8 !important;
}

.firstlink a,
#dry-eye .product-single__title {
  color: #e7dbc7 !important;
}

#dry-eye .btn--add-to-cart {
  background: #e7dbc7 !important;
}

.product-single__title {
  font-family: mondeurregular !important;
  font-size: 36px !important;
}

#dry-eye h1.product-single__title {
  color: #e7dbc7 !important;
}

#our-medical-ambassadors h1 {
  color: #0f6b61 !important;
}

/* component-quantity */
.product-form__quantity {
  display: flex;
  flex-direction: row;
  gap: 25px;
  max-width: 175px;
  align-items: center;
  border: 2px solid #cad9d9;
  font-family: 'Gotham Rounded';
  justify-content: center;
}

#redness .product-form__quantity {
  border: 2px solid #f4c6b8 !important;
}

#dry-eye .product-form__quantity {
  border: 2px solid #e7dbc7 !important;
}

input[type='number'] {
  background-color: transparent !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

#your-shopping-cart quantity-input {
  max-width: 35px;
  gap: 10px;
}

#your-shopping-cart .quantity {
  justify-content: center !important;
}

#your-shopping-cart .product-form__input.product-form__quantity {
  gap: 5px !important;
}

.form__label {
  pointer-events: none;
}

.quantity {
  color: rgba(var(--color-foreground));
  position: relative;
  display: flex;
  border-radius: var(--inputs-radius);
  min-height: calc((var(--inputs-border-width) * 2) + 4.5rem);
  padding: 10px 0;
  max-width: 75px;
}

input#Quantity {
  border: none !important;
}

.quantity:after {
  pointer-events: none;
  content: '';
  position: absolute;
  top: var(--inputs-border-width);
  right: var(--inputs-border-width);
  bottom: var(--inputs-border-width);
  left: var(--inputs-border-width);
  border: 0.1rem solid transparent;
  border-radius: var(--inputs-radius);
  box-shadow: 0 0 0 var(--inputs-border-width)
    rgba(var(--color-foreground), var(--inputs-border-opacity));
  transition: box-shadow var(--duration-short) ease;
  z-index: 1;
}

.quantity:before {
  background: rgb(var(--color-background));
  pointer-events: none;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--inputs-radius-outset);
  box-shadow: var(--inputs-shadow-horizontal-offset)
    var(--inputs-shadow-vertical-offset) var(--inputs-shadow-blur-radius)
    rgba(var(--color-base-text), var(--inputs-shadow-opacity));
  z-index: -1;
}

.quantity__input {
  color: currentColor;
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 0.85;
  text-align: center;
  background-color: transparent !important;
  border: 0;
  padding: 0 0.5rem;
  width: 100%;
  flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
}

.quantity__button {
  width: calc(4.5rem / var(--font-body-scale));
  flex-shrink: 0;
  font-size: 1.8rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-foreground));
  padding: 0;
}

.quantity__button:first-child {
  margin-left: calc(var(--inputs-border-width));
}

.quantity__button:last-child {
  margin-right: calc(var(--inputs-border-width));
}

.quantity__button svg {
  width: 1rem;
  pointer-events: none;
}

.quantity__button:focus-visible,
.quantity__input:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 2;
}

.quantity__button:focus,
.quantity__input:focus {
  background-color: rgb(var(--color-background));
  z-index: 2;
}

.quantity__button:not(:focus-visible):not(.focused),
.quantity__input:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.quantity__input:-webkit-autofill,
.quantity__input:-webkit-autofill:hover,
.quantity__input:-webkit-autofill:active {
  box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
  -webkit-box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
}

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity__input[type='number'] {
  -moz-appearance: textfield;
}

/* cart page */
.btn--add-to-cart {
  min-width: 175px;
}

.cart__price,
.cart__subtotal,
.update-cart,
#HideRecoverPasswordLink {
  font-family: 'Gotham Rounded' !important;
}

.update-cart {
  background: #cad9d9;
}

.cart__checkout {
  background: #e46e5b;
}

.input-full::placeholder {
  text-align: left !important;
  font-family: 'Gotham Rounded';
}

.grid--full {
  font-family: 'Gotham Rounded';
}

.feature-row__image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.feature-row__item h2 {
  font-family: 'mondeurregular' !important;
  font-size: 32px;
  margin-bottom: 0;
  text-transform: capitalize !important;
  text-align: inherit !important;
}

.feature-row__item h2:after {
  display: none;
}

.featured-row__subtext p,
#our-medical-ambassadors div {
  font-family: 'Gotham Rounded' !important;
  color: #575757;
}

.featured-row__subtext p {
  font-size: 20px !important;
}
